# cargo config
os/Cargo.lock
user/Cargo.lock
os/src/linker.ld

# vscode config
.vscode/
.VSCodeCounter/

# RustRover config
.idea/

# etc
os/2024testcase/

# kernel build
os/target/

# user programs build
user/riscv64/
user/target/

# Gathering place of images
fs-img-dir/

# unsorted
os/output.txt
os/logs/
os/src/link_app.S
os/last-*
user/.ccls-cache/
util/qemu-2k500/gz/rootfs-ubifs-ze.img
util/qemu-2k500/gz/qemu.log

os/qemu.log
rootfs-ext4.log
/os/read_test
